{% extends 'base_index.html' %}
{% load staticfiles %}
{% load aux_tags %}
{% block titlepage %}Gerenciar participantes - {{ house.name }} - CASINHA{% endblock titlepage %}

{% block css %}
<style type="text/css">
  .sizingcut{
    width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }
</style>
{% endblock css %}

{% block menuoptions %}

<ul class="nav sidebar-nav">
    <li class="dropdown">
        
        <ul id="settings-dropdown" class="dropdown-menu">
            <li>
                <a href="#" tabindex="-1">
                    Sair
                </a>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Editar perfil
                </a>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Excluir conta
                </a>
            </li>
        </ul>
    </li>
    <h5 class="center">Controle</h5>
    <li>
        <a href="{% url 'house:house_detail' house.pk %}">
            <span><i class="tiny material-icons">dashboard</i></span> Dashboard
        </a>
    </li>
    <li class="active">
        <a href="#">
            <span><i class="tiny material-icons">people</i></span> Gerenciar participantes
        </a>
    </li>
    <li>
        <a href="{% url 'house:house_actuators' house.pk %}">
            <span><i class="tiny material-icons">wb_incandescent</i></span> Gerenciar atuadores
        </a>
    </li>
    <li class="divider"></li>
    <p class="center">Detalhes de {{ house.name }}:</p>
    <p class="center" >
    <b><span><i class="tiny material-icons">vpn_key</i></span> Chave de acesso: </b>{{ house.hash_key }}<br>
    <b><span><i class="tiny material-icons">supervisor_account</i></span> Participantes: </b>{{ participants.count }}<br>
    <b><span><i class="tiny material-icons">wb_incandescent</i></span> Atuadores/Sensores: </b> {{ actuators.count }} <br>
    <b><span><i class="tiny material-icons">network_wifi</i></span> Status: </b> <span id="connectInfo">conectando...</span></p>
    <li class="divider"></li>
    <li>
{% endblock menuoptions %}

{% block rightbody %}
    <div class="card-panel white medium">
            <span class="black-text">
    <h4>Participantes de {{ house.name }}:</h4>
    <hr>
    <div class="row">
    <div class="col s12 m10 offset-m1 l12">
    
      <ul class="collection" id="lista">
        {% for participant in participants %}
          <li class="collection-item avatar">
          {% if participant|profileimage %}
              <img src="{{ participant|profileimage }}" class="circle responsive-img">
          {% else %}
              <img src="{% static 'images/user1.jpg' %}" alt="" class="circle responsive-img">
          {% endif %}          
          <span class="title"><b>{{ participant.username }}</b></span>
          <p style="color: black;"></p>
          Ativo desde {{ participant.date_joined }}
          {% if request.user == house.creator and request.user.pk != participant.id %}
          <a href="#" id="idsuserlink{{ participant.id }}" onclick="remove_user({{ participant.id }}, {{ house.pk }});" class="secondary-content"><i class="material-icons idsuser{{ participant.id }}">clear</i></a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>      
    </div>
    <div class="container center-align warn">

    </div>

    </div>
     {% if request.user == house.creator %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
        <a class="btn-floating red btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Adicionar um novo usuário ao ambiente" href="#modalAddUser">
            <i class="material-icons left">add</i>
        </a>
    </div>
        <!-- Modal Structure -->
  <div id="modalAddUser" class="modal">
    <div class="modal-content">
      <h4>Adicionar participante ao ambiente</h4>
      <div class="row">
      <form method="post" id="f">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s9">
          <input placeholder="Ex.: Leonard" id="pesquisa" type="text" class="validate">
        </div>
        <div class="col s2">
          <button style="margin-top: 24px;" class="waves-effect grey btn-flat" onclick="search_users({{ house.pk }}, pesquisa.value);">Pesquisar</button>
        </div>
     </div>
     </form>
    </div>
    <div class="row resultTxt">
    </div>
    <div class="row">
      <ul class="collection with-header resultData" id="lista">
      </ul>
    </div>   
    <div class="container center-align">
      <a class="modal-action modal-close waves-effect waves-light btn black" href="#!">Fechar</a>
    </div> 
  </div>
  </div>
  {% endif %}

<script type="text/javascript">
  idHouse = {{ house.pk }}
</script>

{% endblock rightbody %}

{% block js1 %}

    <script type="text/javascript">
    var adata = {};
    adata["name"] = "{{ house.name }}";
    adata["server"] = "{{ house.server }}";
    adata["user"] = "{{ house.user }}";
    adata["password"] = "{{ house.password }}";
    adata["portws"] = "{{ house.portws }}";
    adata["key"] = "{{ request.user.id }}";
    </script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/mqtt_settings.js' %}"></script>
{% endblock js1 %}
