{% extends 'base_index.html' %}
{% load staticfiles %}
{% block titlepage %}Gerenciar participantes - {{ house.name }} - CASINHA{% endblock titlepage %}

{% block css %}
<style type="text/css">
  .sizingcut{
    width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }
</style>
{% endblock css %}

{% block menuoptions %}

<ul class="nav sidebar-nav">
    <li class="dropdown">
        
        <ul id="settings-dropdown" class="dropdown-menu">
            <li>
                <a href="#" tabindex="-1">
                    Sair
                </a>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Editar perfil
                </a>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Excluir conta
                </a>
            </li>
        </ul>
    </li>
    <h5 class="center">Controle</h5>
    <li>
        <a href="{% url 'house:house_detail' house.pk %}">
            <span><i class="tiny material-icons">dashboard</i></span> Dashboard
        </a>
    </li>
    <li class="active">
        <a href="#">
            <span><i class="tiny material-icons">people</i></span> Gerenciar participantes
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">wb_incandescent</i></span> Gerenciar atuadores
        </a>
    </li>
    <li class="divider"></li>
    <p class="center">Detalhes de {{ house.name }}:</p>
    <p class="center" >
    <b><span><i class="tiny material-icons">supervisor_account</i></span> Participantes: </b>5 <br>
    <b><span><i class="tiny material-icons">wb_incandescent</i></span> Atuadores/Sensores: </b> 3 <br>
    <b><span><i class="tiny material-icons">network_wifi</i></span> Status: </b> conectado</p>
    <li class="divider"></li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">trending_up</i></span> Minhas estatísticas
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">live_help</i></span> Como criar um broker?
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">developer_board</i></span> Configurando atuadores
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">favorite</i></span> Contribuir com o projeto
        </a>
    </li>
</ul>
{% endblock menuoptions %}

{% block rightbody %}
    <div class="card-panel white medium">
            <span class="black-text">
    <h4>Participantes de {{ house.name }}:</h4>
    <hr>
    <div class="row">
    <div class="col s12 m10 offset-m1 l12">
    
      <ul class="collection with-header" id="lista">
        {% for participant in participants %}
          <li class="collection-item"><div><a href="#"><b>{{ participant.username }}</b><span style="color: black;"> ({{ participant.email }}) - Ativo desde {{ participant.date_joined }}</span></a>
          {% if request.user == house.creator and request.user.pk != participant.id %}
          <a href="#" id="idsuserlink{{ participant.id }}" onclick="remove_user({{ participant.id }}, {{ house.pk }});" class="secondary-content"><i class="material-icons idsuser{{ participant.id }}">clear</i></a>
          {% endif %}
          </div></li>
        {% endfor %}
      </ul>      
    </div>
    <div class="container center-align warn">

    </div>

    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
        <a class="btn-floating red btn-large" href="#modalAddUser">
            <i class="material-icons left">add</i>
        </a>
    </div>
        <!-- Modal Structure -->
  <div id="modalAddUser" class="modal">
    <div class="modal-content">
      <h4>Adicionar participante ao ambiente</h4>
      <div class="row">
      <form method="post" id="f">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s9">
          <input placeholder="Ex.: Leonard" id="pesquisa" type="text" class="validate">
        </div>
        <div class="col s2">
          <button style="margin-top: 24px;" class="waves-effect grey btn-flat" onclick="search_users({{ house.pk }}, pesquisa.value);">Pesquisar</button>
        </div>
     </div>
     </form>
    </div>
    <div class="row resultTxt">
    </div>
    <div class="row">
      <ul class="collection with-header resultData" id="lista">
      </ul>
    </div>   
    <div class="container center-align">
      <a class="modal-action modal-close waves-effect waves-light btn red" href="#!">Fechar</a>
    </div> 
  </div>

<script type="text/javascript">
  idHouse = {{ house.pk }}
</script>

{% endblock rightbody %}

