{% extends 'base_index.html' %}
{% load staticfiles %}
{% block titlepage %}Gerenciar atuadores/sensores - {{ house.name }} - CASINHA{% endblock titlepage %}

{% block css %}
<style type="text/css">
  .sizingcut{
    width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }
</style>
{% endblock css %}

{% block menuoptions %}

<ul class="nav sidebar-nav">
    <li class="dropdown">
        
        <ul id="settings-dropdown" class="dropdown-menu">
            <li>
                <a href="#" tabindex="-1">
                    Sair
                </a>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Editar perfil
                </a>
            </li>
            <li>
                <a href="#" tabindex="-1">
                    Excluir conta
                </a>
            </li>
        </ul>
    </li>
    <h5 class="center">Controle</h5>
    <li>
        <a href="{% url 'house:house_detail' house.pk %}">
            <span><i class="tiny material-icons">dashboard</i></span> Dashboard
        </a>
    </li>
    <li>
        <a href="{% url 'house:house_participants' house.pk %}">
            <span><i class="tiny material-icons">people</i></span> Gerenciar participantes
        </a>
    </li>
    <li class="active">
        <a href="#">
            <span><i class="tiny material-icons">wb_incandescent</i></span> Gerenciar atuadores
        </a>
    </li>
    <li class="divider"></li>
    <p class="center">Detalhes de {{ house.name }}:</p>
    <p class="center" >
    <b><span><i class="tiny material-icons">supervisor_account</i></span> Participantes: </b>5 <br>
    <b><span><i class="tiny material-icons">wb_incandescent</i></span> Atuadores/Sensores: </b> 3 <br>
    <b><span><i class="tiny material-icons">network_wifi</i></span> Status: </b> conectado</p>
    <li class="divider"></li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">trending_up</i></span> Minhas estatísticas
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">live_help</i></span> Como criar um broker?
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">developer_board</i></span> Configurando atuadores
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="tiny material-icons">favorite</i></span> Contribuir com o projeto
        </a>
    </li>
</ul>
{% endblock menuoptions %}

{% block rightbody %}
    <div class="card-panel white medium">
            <span class="black-text">
    <h4>Atuadores/Sensores de {{ house.name }}:</h4>
    <hr>
    <div class="row">
    <div class="col s12 m10 offset-m1 l12">
    
        <ul class="collection with-header" id="lista">
        {% for actuator in actuators %}
          <li class="collection-item" id="idsactuator{{ actuator.id }}" ><div><a href="#">
          
          <i class="tiny material-icons" style="color: black;">
          {% if actuator.actuator_type == 1 %}
            wb_incandescent
          {% elif actuator.actuator_type == 2 %}
            settings_input_antenna
          {% elif actuator.actuator_type == 3 %}
            ac_unit
          {% else %}
            toys
          {% endif %}
          </i>
          
           <b>{{ actuator.name }}</b><span style="color: black;"> ({{ actuator.topic }}) - Criado em {{ actuator.crated_by }}</span></a>
          {% if request.user == house.creator %}
          <a href="#" id="idsactuatorlink{{ actuator.id }}" onclick="remove_actuator({{ actuator.id }}, {{ house.pk }});" class="secondary-content"><i class="material-icons">clear</i></a>
          {% endif %}
          </div></li>
        {% endfor %}
      </ul>  
          
    </div>
    <div class="container center-align warn">

    </div>

    </div>
     {% if request.user == house.creator %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
        <a class="btn-floating red btn-large" href="#modalAddUser">
            <i class="material-icons left">add</i>
        </a>
    </div>
        <!-- Modal Structure -->
  <div id="modalAddUser" class="modal">
    <div class="modal-content">
      <h4>Adicionar atuador/sensor ao ambiente</h4>
      <div class="row">
      <form method="post" id="f">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input id="aname" type="text" class="validate">
          <label class="active" for="aname">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="atopic" type="text" class="validate">
          <label class="active" for="atopic">Tópico</label>
        </div>
        <div class="input-field col s12">
          <input id="adesc" type="text" class="validate">
          <label class="active" for="adesc">Descrição</label>
        </div>
        <div class="col s12">
          <select id="idactuator">
            <option value="" disabled selected>Selecione o atuador</option>
            <option value="1">Lâmpada</option>
            <option value="2">Sensor de distância</option>
            <option value="3">Sensor de temperatura</option>
            <option value="4">Ventilador</option>
            <option value="5">Outro</option>
          </select>
          <label>Tipo de atuador</label>
        </div>
     </div>
     </form>
    </div>   
    <div class="container center-align">
      <a class="modal-action modal-close waves-effect waves-light btn green" onclick="add_actuator(aname.value, atopic.value, adesc.value, idactuator.value, {{ house.pk }});" href="#!">Salvar</a>
      <a class="modal-action modal-close waves-effect waves-light btn black" href="#!">Cancelar</a>
    </div> 
  </div>
  </div>
  {% endif %}

<script type="text/javascript">
  idHouse = {{ house.pk }}
</script>

{% endblock rightbody %}

